# Dependencies
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Python Virtualenv and Cache
backend/venv/
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.pytest_cache/
backend/.env

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
